html{
	position: relative;
	min-height: 100%;
}
body {
	/*  Margin bottom by footer height */
	margin-bottom: 90px;
}
.padded {
	padding-top: 30px;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/*Set fixed height of the footer here*/
	height: 90px;
	background-color: #f5f5f5;
	padding-top: 20px;
}